<% content_for :title, 'API Hackday' %>

<div id= "wrapper">
	<header><h1>GIFMIX<h1></header>
	<div id= "content">
	<div id= "search">	
		<h3>A mix of your favorite artists' news and gifs</h3>
		<div class="search-term">
		  <input type="text" name="term"/>
		</div>
		<button class="search-btn" id="newSearch" type="submit">Submit</button>
	</div>
	<div id = "columns">
	<div id="left"> left </div>
	<div id="right"> right</div>	
	</div>
	</div>
</div>
